
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

    :root{
        --main-color:rgb(255, 0, 0);
        --black:black;
        --bg:#fff2bc;
        --border-color: rgba(0, 0, 0, 0.345);
        --border-width: 0.1rem;
    }
    *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration: none;
    text-transform:capitalize;
    transition: .2s linear;
}
html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top:9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: white;
    border-radius:  5px;

}
body{
    background: var(--bg);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:white;
    background:var(--main-color);
    cursor:pointer;
}
.btn:hover{
    letter-spacing: .2rem;
}
.header{
    background:var(--bg);
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border-width) solid var(--border-color);;
    position:relative;
    top: 0%;left:0%;right:0%;
    z-index:1000;
}
.header.logo img{
    height:rem;
}
.header .navbar a{
    margin: 0 1rem;
    font-size:1.6rem;
    color:black;
}
.header .icons i{
    color: #030000;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2.5rem;

}

.header .icons div:hover{
    color:var(--main-color);
}
#menu-btn{
    display:none;
}
.header .search-form{
    position: absolute;
    top: 115%;right:7%;
    background:rgb(0, 0, 0);
    width: 40rem;
    height: 5rem;
    display:flex;
    align-items:center;
    transform:scaleY(0);
    transform-origin: top;
}
.header .search-form input{
    height:100%;
    width:100%;
    font-size:1.5rem;
    color:var(--black);
    padding:1rem;
    text-transform:none;

}
.header .search-form label{
    cursor:pointer;
    font-size:2.2rem;
    margin-right:1.5rem;
    color:whitesmoke;

}
.header .search-form label:hover{
    color:var(--main-color);
}
.header .cart-items-container{
    position:absolute;
    top:100%;right:-100%;
    height:calc(100vb-9.5rem);
    width:35rem;
    background:white;
    padding:0 1.5rem;

}
.header .cart-items-container .cart-item{
    position:relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}
.header .cart-items-container .cart-item .fa-times{
    position:absolute;
    top:1rem;right:1rem;
    font-size:2rem;
    cursor: pointer;
    color:var(--black);

}
.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}
.header .cart-items-container .cart-item img{
    height:7rem;
}
.header .cart-items-container .cart-item .content h3{
    font-size:2rem;
    color:black;
    padding-bottom: .5rem;
}
.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color); 
}
.header .cart-items-container .btn{
    width: 100;
    text-align: center;
}











































@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding:1.5rem 2rem;
    }
}
@media(max-width:991px){
    #menu-btn{
        display:inline-block; 
    }
    .header .navbar{
        position:absolute;
        top:100%;right:-100%;
        background:white;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar a{
        color:var(--black);
        display:block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }
}



